Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using
WarningsAsErrors: ''
HeaderFilterRegex: 'source/.*'
FormatStyle: file
